@font-face {
  font-family: "iconfont"; /* Project id 3808947 */
  src: url('iconfont.woff2?t=1679017358004') format('woff2'),
       url('iconfont.woff?t=1679017358004') format('woff'),
       url('iconfont.ttf?t=1679017358004') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daochu:before {
  content: "\e641";
}

.icon-w_jinbi:before {
  content: "\e670";
}

.icon-feishuxuanzhong:before {
  content: "\e604";
}

.icon-webzhanghaoxuanzhong:before {
  content: "\e60d";
}

.icon-webzhanghaoweixuanzhong:before {
  content: "\e60f";
}

.icon-webfeishuweixuanzhong:before {
  content: "\e612";
}

.icon-shanchu1:before {
  content: "\e60e";
}

.icon-icon_function_baocunbinggengxin:before {
  content: "\e8ac";
}

.icon-1rizhi:before {
  content: "\e613";
}

.icon-fuwuqijiekoumokuai:before {
  content: "\e67c";
}

.icon-chakan1:before {
  content: "\e63e";
}

.icon-dayinji:before {
  content: "\e64c";
}

.icon-dayinjilu:before {
  content: "\e657";
}

.icon-tianshenpi:before {
  content: "\eb67";
}

.icon-shuiguoshengxian:before {
  content: "\fd69";
}

.icon-rizhi:before {
  content: "\e669";
}

.icon-yuancailiaojiagong:before {
  content: "\e628";
}

.icon-chayan:before {
  content: "\e7b0";
}

.icon-shangchuan:before {
  content: "\e618";
}

.icon-tiaodurenwu:before {
  content: "\e64b";
}

.icon-xiazai:before {
  content: "\e61e";
}

.icon-24gf-folder:before {
  content: "\eac4";
}

.icon-jianshao:before {
  content: "\e8b1";
}

.icon-zuzhijiegou:before {
  content: "\e61d";
}

.icon-shurucanshu:before {
  content: "\e61b";
}

.icon-jurassic_danju:before {
  content: "\e6ae";
}

.icon-piciguanli:before {
  content: "\e623";
}

.icon-manjianyouhui:before {
  content: "\e643";
}

.icon-basesalesupstarSendSet:before {
  content: "\e633";
}

.icon-biaoqian1:before {
  content: "\e824";
}

.icon-jiagebiao:before {
  content: "\e60a";
}

.icon-sunhao:before {
  content: "\e6aa";
}

.icon-dayin:before {
  content: "\e661";
}

.icon-wuliuxinxi:before {
  content: "\e660";
}

.icon-kucunfenxi:before {
  content: "\e603";
}

.icon-icon_gonggongdaimaguanli:before {
  content: "\e629";
}

.icon-xiaoshou:before {
  content: "\e622";
}

.icon-gongyingshang:before {
  content: "\e61c";
}

.icon-m-biaoge:before {
  content: "\e7f2";
}

.icon-fenlei:before {
  content: "\e65e";
}

.icon-jiekoushuoming:before {
  content: "\e60c";
}

.icon-bumen:before {
  content: "\e64e";
}

.icon-qingdan:before {
  content: "\e615";
}

.icon-mendian:before {
  content: "\e60b";
}

.icon-shangpinguanli:before {
  content: "\e631";
}

.icon-huiyuan:before {
  content: "\e750";
}

.icon-daoru:before {
  content: "\e65d";
}

.icon-xiazai1:before {
  content: "\e611";
}

.icon-icon_guanbi:before {
  content: "\e616";
}

.icon-caidanshouqi:before {
  content: "\e76a";
}

.icon-caidanzhankai:before {
  content: "\e76b";
}

.icon-31shijian:before {
  content: "\e749";
}

.icon-shouye3:before {
  content: "\e8b9";
}

.icon-chahao:before {
  content: "\e668";
}

.icon-shuaxin2:before {
  content: "\e75d";
}

.icon-tuichu:before {
  content: "\e666";
}

.icon-arrow-right-bold:before {
  content: "\e67f";
}

.icon-cha:before {
  content: "\e759";
}

.icon-wenhao:before {
  content: "\e6d6";
}

.icon-fangdajing:before {
  content: "\e762";
}

.icon-fanhui1:before {
  content: "\e764";
}

.icon-tianjia1:before {
  content: "\e75c";
}

.icon-shaixuan:before {
  content: "\e695";
}

.icon-riqi:before {
  content: "\e76f";
}

.icon-shanchu:before {
  content: "\e688";
}

.icon-bianji4:before {
  content: "\e76c";
}

.icon-jiantoudown:before {
  content: "\e601";
}

.icon-zhongzhi:before {
  content: "\e627";
}

.icon-duigoux:before {
  content: "\ec9e";
}

.icon-chakan:before {
  content: "\e600";
}

.icon-biyan:before {
  content: "\e610";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-zhanghao:before {
  content: "\e683";
}

.icon-shoujihao:before {
  content: "\e642";
}

.icon-xin:before {
  content: "\e632";
}

